@font-face {
    font-family: GoodBook;
    src: url("/fonts/GoodWeb-Book.eot");
    src: url("/fonts/GoodWeb-Book.woff") format("woff");
    src: url("/fonts/GoodComp-Book.ttf") format("truetype");
}

@font-face {
    font-family: GoodBookCond;
    src: url("/fonts/GoodWeb-CondBook.eot");
    src: url("/fonts/GoodWeb-CondBook.woff") format("woff");
    src: url("/fonts/GoodComp-CondBook.ttf") format("truetype");
}

html {
	background: #ececec;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "GoodBook", Fallback, sans-serif;
}

a {
	color: #1ca7da;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 strong, h2 strong {
	font-weight: 700;
}

h1 {
	font-weight: 300;
	font-size: 2.3em;
	margin: 0;
}

h2 {
	font-weight: 300;
	font-size: 2.2em;
	margin: 20px 0 20px 0;
}

h3 {
	margin: 20px 0 10px 0;
}


p, address, .text li {
	font-size: 1.38em;
	color: #666;
	margin-bottom: 20px;
	font-weight: 300;
	line-height: 1.4em;
}


.button {
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  text-decoration: none;
}

code {
    color: #000000;
    background: #ececec;
    padding: 1px 5px;
}
