@font-face {
  font-family: "AP";
  src: url("/fonts/ap_var.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 1000;
	font-stretch: 25% 151%;
}

@font-face {
  font-family: "AP Italic";
  src: url("/fonts/ap_italic.woff2") format("woff2");
  font-style: italic;
}


html {
	background: #ececec;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "AP", Fallback, sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.55;
}

#rectangle {
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 70px;
    width: 77px;
    height: 11px;
    background: #ff322e;
}

a {
	color: #1ca7da;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 strong, h2 strong {
	font-weight: 700;
}

h1 {
	margin: 0;
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.75rem;
  letter-spacing: -0.018rem;
  font-stretch: 75%;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  font-stretch: 90%;
	margin: 20px 0 10px 0;
}


p, address, .text li {
	font-size: 1.38em;
	color: #666;
	margin-bottom: 20px;
	font-weight: 300;
	line-height: 1.4em;
}


.button {
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  text-decoration: none;
}

code {
    color: #000000;
    background: #ececec;
    padding: 1px 5px;
}
