.nav-open nav {
	border-bottom: 1px dotted rgba(255, 255, 255, .2);
	padding: 10px 0;
        background-color: #ececec;

	a {
	    display: block;
	}

	@media #{$mid-point} {
		border: 0;
		padding: 0 20px;

		a {
		    display: inline;
                    text-align: right;
		}
	}
}

nav {
	text-transform: uppercase;
	font-size: 1.125rem;
  	font-weight: 550;
	  line-height: 1rem;
		width: 100%;
        position: absolute;
        right: 0px;
        top: 70px;
	@media #{$mid-point} {
		text-align: right;
		position: absolute;
		top: 50px;
		right: 0;
		padding: 0 20px;
	}

	a {
	    margin: 0 3px;
		padding: 10px 40px;
		border-bottom: 1px solid rgba(255,255,255,0);
		display: none;
                text-align: right;
		@media #{$mid-point} {
			display: inline;
			padding: 10px;
		}


		&.nav-toggle {
			display: inline;
			position: absolute;
			right: -5px;
			top: -35px;
			font-size: 1.9em;
			border: 0;
			@media #{$mid-point} {
				display: none;
			}

			&:hover {
			    border: 0;
                            color: #5d5a58;
			}
		}
	}

	a:hover {
		border-bottom: 1px solid rgba(255,255,255,.3);
                color: #5d5a58;
	}

	@media #{$mid-point} {
		a.highlight {
			border: 1px #ccc solid;
			border-radius: 5px;

			&:hover {
				background: #fff;
			}
		}
	}

	a.active {
		color: #fff;
	}

}
