<!doctype html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
          xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png">
    <meta property="og:image" content="{{ site.baseurl }}/images/AP_RGB.jpg"/>

    <title>AP DataKit - {{ page.title }}</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="company-name"><a href="https://github.com/associatedpress?q=datakit"><img src="{{ site.baseurl }}/images/AP.svg" alt="Associated Press Logo"/></a><!--<a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}/images/datakitlogo.svg" alt="DataKit Logo"/></a>-->
          <div class="datakit-name">
            <h1><strong><a href="http://www.datakit.ap.org">DataKit</a></strong></h1>
          </div>
        </div>
        {% include navigation.html %}
      </div>
    </header>
    {{ content }}
    <footer>
      <div class="container">
        <div class="footer-columns">
          {% for column in site.data.footer %}
          <ul class="footer-links">
            {% for link in column.links %}
            <li><a href="{% include relative-src.html src=link.link%}">
                {{ link.name }}</a></li>
            {% endfor %}
          </ul>
          {% endfor %}
        </div>
      </div>
    </footer>
    <script>
      document.getElementById("open-nav").onclick = function () {
        document.body.classList.toggle("nav-open");
        return false;
      };
    </script>
  </body>
</html>
